.event-details-container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .event-details {
    text-align: left;
  }
  
  .event-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .event-subtitle {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  .event-info p {
    margin: 0.5rem 0;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-size: 1.25rem;
  }
  
  .loading-spinner {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .book-event-button {
    display: block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
  }
  
  .book-event-button:hover {
    background-color: #0056b3;
  }