 .sign-up{
    color: #fff;
  }
  .sign-up a{
    color: #d39e00;
    font-weight: 600;
    text-decoration: none;
  }


.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}