<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">Email : </label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
              <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                <div *ngIf="formControls.email.errors.required">Email is required</div>
                <div *ngIf="formControls.email.errors.email">Invalid email format</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password : </label>
              <input type="password" id="password" formControlName="password"  class="form-control" placeholder="********" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
              <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                <div *ngIf="formControls.password.errors.required">Password is required</div>
                <div *ngIf="formControls.password.errors.minLength">Password must be at least 6 characters long</div>
              </div>
              <!-- <div class="text-right forget-pass">
                <a routerLink="/forget-password">Forget Password ?</a>
              </div> -->
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select id="role"formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.role.errors }" [(ngModel)]="role" style="height: 30px;">
                <option value="">Select Role</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
              </select>
              <div *ngIf="submitted && formControls.role.errors" class="invalid-feedback">
                <div *ngIf="formControls.role.errors.required">Role is required</div>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-my" value="Login">
            </div>
          </form>
          <div class="text-center sign-up">
            Don`t have an account ? <a routerLink="/signup">Sign Up</a> here.
          </div>
          
          
        </div>
      </div>
    </div>
  </div>