<app-navbar></app-navbar>
<div class="feedback-list-container">
    <h2>Your Feedbacks</h2>
    <table class="feedback-table">
      <thead>
        <tr>
          <th>Event ID</th>
          <th>Rating</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedback of feedbacks">
          <td>{{ feedback.event_id }}</td>
          <td>{{ feedback.rating }}</td>
          <td>{{ feedback.comments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  